/*=============
Colors: 
light yellow: #f8c60f
purple: #733d8b
dark blue: #2b2563
===============*/
*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
}
body{
    color:#212226
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:25px;
}
section{
    background:white;
    overflow: hidden;
}


/* Preloader */
#preloader{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

#status{
    background-image: url("../img/preload_small.gif");
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -85px;
    margin-left: -85px;   
}

#home{
    background:none;
    height: 100%;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    background-size: cover;
    
}
#home-overlay{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%; 
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}
#home-content{
    width:100%;
    height:100%;
    display: table;
}
#home-content-inner{
    display: table-cell;
    vertical-align:middle;
}
#home-heading1{
    color: white;
    font-size: 100px;
    font-weight:100;
    display: inline-block;
}
#home-heading2{
    color:#c37ae2;
    font-size: 50px;
    font-weight:100;
    display: inline-block;
}
#home-heading h1 span{
    color:#f8c60f;
    font-weight:500;
}

#home-text p{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin:8px 0 30px 0;
}
.btn-general{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 28px;
    font-size:13px;
    text-transform: uppercase;
    margin:0 6px;
    padding:12px 46px 12px 46px;
    transition:all 0.5s;
     
}
.btn-home{
    color:white;
    border:1px solid white;
}
.btn-home:hover ,.btn-home:focus{
    color:white;
    background-color:#f8c60f;
    border:1px solid #f8c60f;
}
#arrow-down{
    position:absolute;
    bottom:20px;
    left:680px;
    font-size:32px;
    width:32px;
    height:32px;
    text-align:center;
    margin-left:-16px;
    z-index:1;
    
}
#arrow-down:hover,#arrow-down:focus{
    color:#f8c60f
}

/* ABOUT SECTION TOP */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.content-box-lg{
    padding:120px 0;
}
.vertical-heading h5{
    color:#f8c60f;
    font-size:22px;
    font-weight:700;
    text-transform: uppercase;
    word-spacing: 7px;
    display: inline-block;
    transform: rotate(-90deg);
    position:relative;
    top:80px;
    left:-73px;
}
.vertical-heading h2{
    margin-left: 35px;
    font-size:60px;
    font-weight:60;
    line-height:70px;
    
}
.vertical-heading h2 span{
    color:#f8c60f
}
#about-right p{
    margin-bottom: 50px;
    color:#733d8b;
    font-size:19px;
}
/* ABOUT SECTION BOTTOM */
#about-02{
    background-color:#f4f4f4;
}
.content-box-md{
    padding:100px 0;
}
.about-item{
    background-color:white;
    padding:80px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.about-item i{
    font-size: 60px;
    margin: 0;
}
.about-item h3{
    font-size:32px;
    margin-bottom: 10px;
}
.about-item hr{
    width:65px;
    height: 3px;
    background-color:#f8c60f;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top:25px;
    color:#733d8b;
    font-size:17px;
}
.about-item:hover{
    background-color:#f8c60f;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p
{
    color:white;
}
.about-item:hover hr{
    background-color:white;
}
.about-item,
.about-item i,
.about-item hr{
    transition:all 500ms ease-in-out;
}
.about-item:hover i{
    transform:translateY(-40px);
}

/*Team */

#team-left .vertical-heading{
    min-height: 160px;
}

#team-left p{
    color: #733d8b;
}

.team-member{
    margin: 8px;
    position:relative
}

.team-member-overlay{
    background-color: rgba(33, 34, 38, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms linear;
}

.team-member-info{
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}

.team-member-info h6{
    color :#f8c60f;
    font-size: 18px;
    margin: 0;
}

.team-member-info p{
    color: white;
}

.team-member:hover .team-member-overlay{
    opacity: 1;
}

/*social icons team*/

ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li{
    padding: 0;
    display: inline-block;
}

ul.social-list li a{
    border: 1px solid white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    display: inline-block;
}

ul.social-list li:nth-child(1) a:hover{
    background-color: #3b5998;
    border-color: transparent;
}
ul.social-list li:nth-child(2) a:hover{
    background-color: #0A66C2;
    border-color: transparent;
}
ul.social-list li:nth-child(3) a:hover{
    background-color: black;
    border-color: transparent;
}

.fa-angle-left:before{
    color: #212226;
    background: none;
    font-size: 40px;
    margin: 0;
}


.fa-angle-right:before{
    color: #212226;
    background: none;
    font-size: 40px;
    margin: 0;
}

/*progress bar*/

.skill{
    margin-bottom: 20px;
}
.skill h4{
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress{
    height: 25px;
    border-radius: 0;
    background-color: #efefef;
    overflow: visible;
}

.progress-bar{
    background-color: #f8c60f;
    position: relative;
}

.progress-bar span{
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    background: #212226;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -45px;
}

.progress-bar span::before{
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 25%;
}

/* STATEMENT */
#statement{
    background:url("../img/tech-quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
#statement .content-box-lg{
    background: rgba(0,0,0, 0.4)
}

#tech-statement h3{
    color:#fff;
    font-size:28px;
    line-height:45px;
}
#tech-statement p{
    font-size: 28px;
    color: #f8c60f;
    margin-top: 11px;
}

/* SERVICES */
.horizontal-heading{
    margin-bottom: 80px;
    
}
.horizontal-heading h5{
    font-size: 36px;
    color: #f8c60f;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}
.horizontal-heading h2{
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin: 0;
}
#services-01 img{
    margin: 60px 0;
}
.service{
    margin: 35px 0;

}
.service .icon{
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
}
.service:hover .icon{
     color: #f8c60f;
     transform: translateX(-20px);

}
.service h5{
    font-size: 12px;
    text-transform: uppercase;
    color: #f8c60f;
    margin: 0 0 6px 0;
}
.service:hover h5{
    color: #212226;
}
.service h4{
    font-size: 24px;
    margin: 0 0 8px 0;
}
.service p{
    line-height: normal;
    font-size: medium;
    color: #733d8b;
     
}
/* 
SERVICES 02 (RESPONSIVE TABS) */

#services-02{
    background: #f4f4f4;

}
#services-tabs ul{
    margin-bottom: 40px;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}
#services-tabs ul li.r-tabs-state-active a{
     color: #f8c60f;
     font-weight: 700;
     border-bottom: 3px solid #f8c60f;
     padding-bottom: 5px;
     transition: border-color 300ms linear;
}
.service-tab img{
    width: 100%;
    margin: 0 auto;

}
.service-tab .tab-bg{
    background: #fff;
    padding: 59px 30px;
    min-height: 481px;
}
.service-tab .col-md-6{
    padding: 0;

}
.service-tab h2{
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}
.service-tab h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.service-tab p{
    line-height: 24px;
    margin-bottom: 30px;
    font-size: medium;
    color: #733d8b;

}
.btn-yellow{
    color:#fff;
    border: 1px solid #f8c60f;
    background-color: #f8c60f;
}
.btn-yellow:hover,.btn-yellow:focus{
    color:#fff;
    background-color: #212226;
    border: 1px solid #212226;
}

/*Testimonials Section*/

#testimonials{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f4f4f4;
    overflow: visible;
}

#testimonials .vertical-heading{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: -50px;
    margin-bottom: 45px;
}

#testimonial-slider{
    background: #f8c60f;
    top: -120px;
}

.testimonial .row{
    margin-bottom: 25px;
}

.testimonial{
    padding: 20px 45px 0px 45px;
    color: #fff;
}

.testimonial h3{
    font-size: 32px;
    line-height: 35px;
    margin-top: 17px;
}

.testimonial .stars{
    font-size: 20px;
    margin: 20px 0px 10px 0;
}

.testimonial p{
    line-height: normal;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}

.author .author-name-des{
    width: 110px;
    margin-top: 25px;
    text-align: left;
}

.author .author-name-des p{
    margin: 0;
}

/*Pricing*/

#pricing .horizontal-heading{
    margin-bottom: 0px;
}

.pricing-table{
    margin: 20px 20px 20px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
    border-radius: 6px;
    padding: 32px 21px;
}

.pricing-table:hover{
    background: #f8c60f;
    transition: all 400ms linear;
}

.pricing-table .type h4{
    color: #f8c60f;
    font-size: 24px;
    margin-bottom: 25px;
}

.pricing-table .price{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}

.pricing-table .price h2{
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 4px;
    position: relative;
}

.pricing-table .price h2 span{
    font-family: "Raleway", sans-serif;
}

.pricing-table .price h2 span.rupee{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: -10px;
    top: 5px;
}

.pricing-table .price h2 span.month{
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: -12px;
}

.pricing-table .price p{
    line-height: normal;
    font-weight: 200px;
    margin: 0;
    padding: 0 0 0 32px;
}

.pricing-table .package{
    padding-left: 35px;
}

.pricing-table ul.package{
    list-style: none;
    padding: 20px 0;
}

.pricing-table ul.package li{
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}

.pricing-table ul.package li i{
    width: 24px;
}

.pricing-table .btn-yellow,.pricing-table.black .btn-white{
    width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package{
    color: #fff;
}

.pricing-table:hover .btn-yellow{
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-table .btn-yellow:hover, .pricing-table .btn-yellow:focus{
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}

/*Center Pricing Table*/

.pricing-table.black{
    background: #212226;
    color: #fff;
}

.pricing-table .type h4{
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.pricing-table.black:hover{
    background: #f8c60f;
}

.btn-white{
    color:#212226;
    border: 1px solid #fff;
    background-color: #fff;
}
.btn-white:hover,.btn-white:focus{
    color:#fff;
    background-color: #212226;
    border: 1px solid #212226;
}